<div class="container-fluid p-0 position-relative">
    <div class="jumbotron jumbotron-fluid text-center text-dark d-flex align-items-center" style="background-image: url(/img/snowboard-7000597_1920.jpg); background-size: cover; background-position: center; height: 90vh;">
        <div class="container">
            <h1 class="display-4 mx-auto" style="text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;">Passez au niveau supérieur avec Snowtricks</h1>
        </div>
    </div>
    <div class="position-absolute bottom-0 end-0">
        <a href="#listTricks" style="color: black;">
            <i class="fa-solid fa-arrow-down fs-1" style="position: absolute; bottom: 80px; right: 60px;"></i>
        </a>
    </div>
</div>
<div id="listTricks" class="container mt-5">
    <div class="bloc_cards" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr)); gap: 40px">
        <div class="card" style="width: 16rem; height: 11rem;">
            <div class="img-card" style="text-align: center; width: 100%; height: 100%; overflow: hidden;">
                <img src="/img/figure-0001.jpeg" class="card-img-top" alt="..." style="object-fit: cover; width: 100%; height: 100%;">
            </div>
            <div class="card-body d-flex align-items-center" style="padding: 0; border-top: outset;">
                <a href="#" class="btn">
                    <h5 class="card-title text-decoration-none">Ollie and Nollie</h5>
                </a>
                <div class="bloc_button-card">
                    <a href="#" class="btn"><i class="fa-solid fa-pencil"></i></a>
                    <a href="#" class="btn"><i class="fa-solid fa-trash-can"></i></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 16rem; height: 11rem;">
            <div class="img-card" style="text-align: center; width: 100%; height: 100%; overflow: hidden;">
                <img src="/img/figure-0001.jpeg" class="card-img-top" alt="..." style="object-fit: cover; width: 100%; height: 100%;">
            </div>
            <div class="card-body d-flex align-items-center" style="padding: 0; border-top: outset;">
                <a href="#" class="btn">
                    <h5 class="card-title text-decoration-none">Ollie and Nollie</h5>
                </a>
                <div class="bloc_button-card">
                    <a href="#" class="btn"><i class="fa-solid fa-pencil"></i></a>
                    <a href="#" class="btn"><i class="fa-solid fa-trash-can"></i></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 16rem; height: 11rem;">
            <div class="img-card" style="text-align: center; width: 100%; height: 100%; overflow: hidden;">
                <img src="/img/figure-0001.jpeg" class="card-img-top" alt="..." style="object-fit: cover; width: 100%; height: 100%;">
            </div>
            <div class="card-body d-flex align-items-center" style="padding: 0; border-top: outset;">
                <a href="#" class="btn">
                    <h5 class="card-title text-decoration-none">Ollie and Nollie</h5>
                </a>
                <div class="bloc_button-card">
                    <a href="#" class="btn"><i class="fa-solid fa-pencil"></i></a>
                    <a href="#" class="btn"><i class="fa-solid fa-trash-can"></i></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 16rem; height: 11rem;">
            <div class="img-card" style="text-align: center; width: 100%; height: 100%; overflow: hidden;">
                <img src="/img/figure-0001.jpeg" class="card-img-top" alt="..." style="object-fit: cover; width: 100%; height: 100%;">
            </div>
            <div class="card-body d-flex align-items-center" style="padding: 0; border-top: outset;">
                <a href="#" class="btn">
                    <h5 class="card-title text-decoration-none">Ollie and Nollie</h5>
                </a>
                <div class="bloc_button-card">
                    <a href="#" class="btn"><i class="fa-solid fa-pencil"></i></a>
                    <a href="#" class="btn"><i class="fa-solid fa-trash-can"></i></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 16rem; height: 11rem;">
            <div class="img-card" style="text-align: center; width: 100%; height: 100%; overflow: hidden;">
                <img src="/img/figure-0001.jpeg" class="card-img-top" alt="..." style="object-fit: cover; width: 100%; height: 100%;">
            </div>
            <div class="card-body d-flex align-items-center" style="padding: 0; border-top: outset;">
                <a href="#" class="btn">
                    <h5 class="card-title text-decoration-none">Ollie and Nollie</h5>
                </a>
                <div class="bloc_button-card">
                    <a href="#" class="btn"><i class="fa-solid fa-pencil"></i></a>
                    <a href="#" class="btn"><i class="fa-solid fa-trash-can"></i></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 16rem; height: 11rem;">
            <div class="img-card" style="text-align: center; width: 100%; height: 100%; overflow: hidden;">
                <img src="/img/figure-0001.jpeg" class="card-img-top" alt="..." style="object-fit: cover; width: 100%; height: 100%;">
            </div>
            <div class="card-body d-flex align-items-center" style="padding: 0; border-top: outset;">
                <a href="#" class="btn">
                    <h5 class="card-title text-decoration-none">Ollie and Nollie</h5>
                </a>
                <div class="bloc_button-card">
                    <a href="#" class="btn"><i class="fa-solid fa-pencil"></i></a>
                    <a href="#" class="btn"><i class="fa-solid fa-trash-can"></i></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 16rem; height: 11rem;">
            <div class="img-card" style="text-align: center; width: 100%; height: 100%; overflow: hidden;">
                <img src="/img/figure-0001.jpeg" class="card-img-top" alt="..." style="object-fit: cover; width: 100%; height: 100%;">
            </div>
            <div class="card-body d-flex align-items-center" style="padding: 0; border-top: outset;">
                <a href="#" class="btn">
                    <h5 class="card-title text-decoration-none">Ollie and Nollie</h5>
                </a>
                <div class="bloc_button-card">
                    <a href="#" class="btn"><i class="fa-solid fa-pencil"></i></a>
                    <a href="#" class="btn"><i class="fa-solid fa-trash-can"></i></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 16rem; height: 11rem;">
            <div class="img-card" style="text-align: center; width: 100%; height: 100%; overflow: hidden;">
                <img src="/img/figure-0001.jpeg" class="card-img-top" alt="..." style="object-fit: cover; width: 100%; height: 100%;">
            </div>
            <div class="card-body d-flex align-items-center" style="padding: 0; border-top: outset;">
                <a href="#" class="btn">
                    <h5 class="card-title text-decoration-none">Ollie and Nollie</h5>
                </a>
                <div class="bloc_button-card">
                    <a href="#" class="btn"><i class="fa-solid fa-pencil"></i></a>
                    <a href="#" class="btn"><i class="fa-solid fa-trash-can"></i></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 16rem; height: 11rem;">
            <div class="img-card" style="text-align: center; width: 100%; height: 100%; overflow: hidden;">
                <img src="/img/figure-0001.jpeg" class="card-img-top" alt="..." style="object-fit: cover; width: 100%; height: 100%;">
            </div>
            <div class="card-body d-flex align-items-center" style="padding: 0; border-top: outset;">
                <a href="#" class="btn">
                    <h5 class="card-title text-decoration-none">Ollie and Nollie</h5>
                </a>
                <div class="bloc_button-card">
                    <a href="#" class="btn"><i class="fa-solid fa-pencil"></i></a>
                    <a href="#" class="btn"><i class="fa-solid fa-trash-can"></i></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 16rem; height: 11rem;">
            <div class="img-card" style="text-align: center; width: 100%; height: 100%; overflow: hidden;">
                <img src="/img/figure-0001.jpeg" class="card-img-top" alt="..." style="object-fit: cover; width: 100%; height: 100%;">
            </div>
            <div class="card-body d-flex align-items-center" style="padding: 0; border-top: outset;">
                <a href="#" class="btn">
                    <h5 class="card-title text-decoration-none">Ollie and Nollie</h5>
                </a>
                <div class="bloc_button-card">
                    <a href="#" class="btn"><i class="fa-solid fa-pencil"></i></a>
                    <a href="#" class="btn"><i class="fa-solid fa-trash-can"></i></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 16rem; height: 11rem;">
            <div class="img-card" style="text-align: center; width: 100%; height: 100%; overflow: hidden;">
                <img src="/img/figure-0001.jpeg" class="card-img-top" alt="..." style="object-fit: cover; width: 100%; height: 100%;">
            </div>
            <div class="card-body d-flex align-items-center" style="padding: 0; border-top: outset;">
                <a href="#" class="btn">
                    <h5 class="card-title text-decoration-none">Ollie and Nollie</h5>
                </a>
                <div class="bloc_button-card">
                    <a href="#" class="btn"><i class="fa-solid fa-pencil"></i></a>
                    <a href="#" class="btn"><i class="fa-solid fa-trash-can"></i></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 16rem; height: 11rem;">
            <div class="img-card" style="text-align: center; width: 100%; height: 100%; overflow: hidden;">
                <img src="/img/figure-0001.jpeg" class="card-img-top" alt="..." style="object-fit: cover; width: 100%; height: 100%;">
            </div>
            <div class="card-body d-flex align-items-center" style="padding: 0; border-top: outset;">
                <a href="#" class="btn">
                    <h5 class="card-title text-decoration-none">Ollie and Nollie</h5>
                </a>
                <div class="bloc_button-card">
                    <a href="#" class="btn"><i class="fa-solid fa-pencil"></i></a>
                    <a href="#" class="btn"><i class="fa-solid fa-trash-can"></i></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 16rem; height: 11rem;">
            <div class="img-card" style="text-align: center; width: 100%; height: 100%; overflow: hidden;">
                <img src="/img/figure-0001.jpeg" class="card-img-top" alt="..." style="object-fit: cover; width: 100%; height: 100%;">
            </div>
            <div class="card-body d-flex align-items-center" style="padding: 0; border-top: outset;">
                <a href="#" class="btn">
                    <h5 class="card-title text-decoration-none">Ollie and Nollie</h5>
                </a>
                <div class="bloc_button-card">
                    <a href="#" class="btn"><i class="fa-solid fa-pencil"></i></a>
                    <a href="#" class="btn"><i class="fa-solid fa-trash-can"></i></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 16rem; height: 11rem;">
            <div class="img-card" style="text-align: center; width: 100%; height: 100%; overflow: hidden;">
                <img src="/img/figure-0001.jpeg" class="card-img-top" alt="..." style="object-fit: cover; width: 100%; height: 100%;">
            </div>
            <div class="card-body d-flex align-items-center" style="padding: 0; border-top: outset;">
                <a href="#" class="btn">
                    <h5 class="card-title text-decoration-none">Ollie and Nollie</h5>
                </a>
                <div class="bloc_button-card">
                    <a href="#" class="btn"><i class="fa-solid fa-pencil"></i></a>
                    <a href="#" class="btn"><i class="fa-solid fa-trash-can"></i></a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 16rem; height: 11rem;">
            <div class="img-card" style="text-align: center; width: 100%; height: 100%; overflow: hidden;">
                <img src="/img/figure-0001.jpeg" class="card-img-top" alt="..." style="object-fit: cover; width: 100%; height: 100%;">
            </div>
            <div class="card-body d-flex align-items-center" style="padding: 0; border-top: outset;">
                <a href="#" class="btn">
                    <h5 class="card-title text-decoration-none">Ollie and Nollie</h5>
                </a>
                <div class="bloc_button-card">
                    <a href="#" class="btn"><i class="fa-solid fa-pencil"></i></a>
                    <a href="#" class="btn"><i class="fa-solid fa-trash-can"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 p-5" style="width: 20%; height: 11rem;">
        <div class="card-body d-flex align-items-center p-3" style="border: outset;">
            <div class="bloc_button-card m-auto">
                <i class="fa-solid fa-spinner fa-spin-pulse fa-xl"></i>
                Load more
            </div>
        </div>
    </div>
    <div class="position-absolute end-0">
        <a href="#barNav" style="color: black;">
            <i class="fa-solid fa-arrow-up fs-1" style="position: absolute; bottom: 80px; right: 60px;"></i>
        </a>

    </div>
</div>
