<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Activated your account</title>
</head>
<body>
<h1>Hello {{ user.pseudo }},</h1>

<p>We received a activation request for your account.</p>

<p>If you have not made this request, ignore this email. Alternatively, you can activate your account using the link below:</p>

<p><a href="{{ url }}">{{ url }}</a></p>

<p>Thank you</p>

<p>Snowtricks Team</p>
</body>
</html>
