<!-- Footer Start -->
<div class="my-5">
    <footer class="footer fixed-bottom">
        <div class="text-center p-3 bg-info-subtle">
            Snowtricks | © 2023 Copyright:
            <a class="text-decoration-none text-dark fw-bold" href="https://killianfilatre.fr">Killian Filâtre </a>
        </div>
    </footer>
</div>
<!-- Footer End -->
