/**
Dialog for add media (Picture or Video)
 */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
}

.btnMedia {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

.btnDelete {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

.error-message ul {
    background-color: lightcoral;
    list-style-type: none;
    padding: 10px;
    border-radius: 10px;
    max-width: 50%;
}

/**
Avatar (profil)
 */

.avatar-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.avatar-image {
    width: auto;
    height: auto;
    max-height: 100%;
}